.body {
    // border: solid;
    padding-top: 80px;
    display:flex;
    flex-direction: row;
}

.h2{
    font-size: 30px;
    font-weight: bolder;
}

.p{
    font-weight: lighter;
    line-height: 1.5;
}

.txt{ 
    font-size: 16px;
    width: 500px;
    // border: solid;
    padding-top: 75px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}