.body{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
    border: solid;
    color: white;

    border: 0px;
    margin: 0px;
    width: 100vw;
}

.h2{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

